footer{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.social-icons{
    display: flex;
    gap: 15px;
}
.social-img{
    width: 30px;
}